*{
    font-family: poppins;
}
body{
    margin: o;
    padding: 0;
    background: url(../images/condition.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.terms-box{
    max-width: 460px;
    background-color: black;
    color: white;
    padding: 60px 30px;

}

.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: rgb(36, 34, 34);
}

.terms-text::-webkit-scrollbar-thumb{
    background-color: #0066ff;
}

.terms-text h2{
    text-transform: uppercase ;
}

.terms-box h4{
    font-size: 18px;
    text-align: center;
    padding: 0 40px;
}

.terms-box h4 span{
    color: #0066ff;
}

.button{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    
}

.btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    transition: .3s linear;
    cursor: pointer;
}

.red-btn{
    background-color: #0066ff;
}

.gray-btn{
    background-color: rgb(59, 59, 59);
}

.btn:hover{
    opacity: .6;
}